
.userDiary-contents{
    width: 100vw;
    height: 100vh;
    padding:0;
    background-color: black;
   object-fit: cover;
}

.userDiary-wrap{
    position: relative;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    
}

.diary-title-wrap{
    position: inherit;
    width: 100%;
    height: 100px;
    align-items: center;
    
    
}

.diary-title-wrap .diary-title{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color:#fff;
    
}


.diaryInfo-wrap{
    display: flex;
    width: 100%;
    height: 80%;
}


.diaryImg-wrap{
    position: relative;
    display: flex;
    width: 100%;
    min-width: 500px;
    max-width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 100%;
    align-items: center;
    background-color: #fff;
    
}

.diary-date-wrap{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.33);
}

.diary-date-wrap .diary-date{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,10%);
    width: 400px;
    height: 30px;
    text-align: center;
    line-height: 2;
    font-size: 15px;
    cursor: default;
    color:black;
    
}


.goHomeBtn-wrap{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 140px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    
}


.goHomeBtn-wrap p{
    width: 100px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 800;
}

.home-logo{
    width: 60px;
    height: 50px;
}

.diaryImg-inner{
    width: 95%;
    height: 80%;
    margin: 0 auto;
    background-color: rgba(80, 80, 80, 0.189);
}

.diaryImg-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diaryText-wrap{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 500px;
    max-width: 100%;
    min-height: 500px;
    max-height: 100%;
    background-color: #fff;
    border-left: 2px solid rgba(0, 0, 0, 0.189);
    align-items: center;
}

.diaryText-inner{
   
    position: relative;
    display: block;
    width: 95%;
    height: 85%;
    margin: 0 auto;
    
}

.diaryText-inner .textCout-wrap{
    position: absolute;
    width: auto;
    height: 20px;
    margin: 0 !important;
    bottom: 0;
    left: 5px;
   
    
}
.diaryText-inner span{
    font-size: 15px;
   
}
.diaryText-inner .hiddenTextCount-wrap{
    visibility: hidden;
}


.diaryText{ 
    position: absolute;
    width: 95%;
    height: 90%;
    border: 1px solid #cbcbcb8f;
    padding: 10px;
    top:0;
    line-height: 1.5;
    resize: none;
    overflow-y: scroll;
    
}

.diaryText::-webkit-scrollbar{
  display: none;
}

.diaryText:focus{
    
  outline-color: #cbcbcb8f;
}

.updateBtn-wrap{
    position: absolute;
    width: 210px;
    height: 40px;
    display: flex;
    margin: 0 auto;
    bottom: 20px;
    right: 0;
    align-items: center;

}

.diaryBtn{
    width: 80px;
    height: 40px;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.304);
    color: #fff;
    cursor:pointer;
}

.diaryBtn:hover{
    background-color: black;
}

.button-wrap{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    
}

.hiddenBtn{
    display: none;
}

