body{
    margin: 0;
}

div{
    display: block;
}

.homeContent-wrap{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-color: rgb(90, 90, 90);
    perspective: 500px;
    z-index: 0;
}

.HomeText-wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    perspective: 800px;
}



.floorContent-wrap{
    position:absolute;
    width: 100vw;
    height: 50vh;
    bottom: 0;
    
    background-color:  rgb(170, 170, 170);
    z-index: 3;

}

/**텍스트1*/
.text-contents-wrap{
    position: absolute;
    display: block;
    width: 800px;
    height: 200px;
    padding: 0;
    margin: 0;
    left: 30%;
    bottom: 80%;
    transform: translate(-60%,30%);
    align-items: center;
    z-index: 12;
    animation: showText 1.2s ease-in-out;
    perspective: 300px;
    
}

.background-blind-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    border-radius: 10px;
    opacity: 0.5;
}

.title-text-wrap{
    position: inherit;
    width: 100%;
    height: 60px;
    top: 0;
    margin: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    text-shadow: 5px 5px 20px black;
    
    z-index: 1;
}

.text-wrap{
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 110px;
    text-align: left;
    margin: 10px;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    text-shadow: 20px 20px 20px black;
    line-height: 45px;
    z-index: 1;
}

/**텍스트2*/
.second-text-contents-wrap{
    position: absolute;
    display: block;
    width: 800px;
    height: 200px;
    padding: 0;
    margin: 0;
    left: 10%;
    bottom: 80%;
    transform: translate(-70%,30%);
    align-items: center;
    z-index: 12;
    animation: showText 2.5s ease-in-out;
    
}

.second-title-text-wrap{
    position: inherit;
    width: 100%;
    height: 60px;
    top: 0;
    margin: 10px;
    text-align: left;
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    text-shadow: 5px 5px 20px black;
    z-index: 1;
}

.second-text-wrap{
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 110px;
    text-align: left;
    margin: 10px;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    text-shadow: 20px 20px 20px black;
    line-height: 45px;
    z-index: 1;
}

/**텍스트3*/
.third-text-contents-wrap{
    position: absolute;
    display: block;
    width: 800px;
    height: 300px;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: 50%;
    transform: translate(-35%,40%);
    align-items: center;
    z-index: 12;
    animation: showText 2.5s ease-in-out;
}


.third-title-text-wrap{
    position: inherit;
    width: 100%;
    height: 60px;
    top: 0;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    text-shadow: 5px 5px 20px black;
    z-index: 1;
    cursor: default;
}

.third-text-wrap{
    position: inherit;
    bottom: 0;
    width: 20%;
    height: 50px;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%,50%);
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    text-shadow: 20px 20px 20px black;
    line-height: 45px;
    letter-spacing: 5px;
    z-index: 1;
    background-color: #a8753baf;
    border: 3px solid #fff;
    text-decoration: none;
    cursor: pointer;
}

.hidden-text-wrap{
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

@keyframes showText {
    0% {
      
        opacity: 0;
    }

    100% {
       
        opacity: 1;
    }
}

/**문*/

.door-wrap{
    position: absolute;
    left: 43.5vw;
    top:41vh;
    perspective: 500px;
    background-color: #864d0a;
    z-index: 12;
   
}


.doorContent-wrap{
    position:absolute;
    display: flex;
    width: 225px;
    height: 157px;
    transform: translateZ(0px) translateY(-5px) translateX(-10px);
   
}
.sizeUp-doorContent-wrap{
    position:absolute;
    display: flex;
    width: 260px;
    height: 155px;
    transition: 1.25s ease-in-out;
    transform: translateZ(150px) translateX(-60px) translateY(-24px);
}

.againSizeUp-doorContent-wrap{
    position:absolute;
    display: flex;
    width: 240px;
    height: 135px;
    transition: 1.25s ease-in-out;
    transform: translateZ(280px) translateX(-68px) translateY(-35px);
}

.againSizeUp-doorContent-wrap .leftdoor .door-handle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0.5px solid black;
    background-color: gray;
    margin-top: 70px;
    margin-left: 80%;

}

.againSizeUp-doorContent-wrap .rightdoor .door-handle{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0.5px solid black;
    background-color: gray;
    margin-top: 70px;
    margin-left: 10%;

}

.leftdoor{
    width: 50%;
    height: 100%;
    margin: 0;
    border: 1px solid black;
    background-image: linear-gradient(rgb(121, 84, 6), rgb(158, 104, 2), rgb(151, 99, 1), rgb(82, 50, 4));
}

.rightdoor{
    
    width: 50%;
    height: 100%;
    border: 1px solid black;
    margin: 0;
    background-image: linear-gradient(rgb(121, 84, 6), rgb(158, 104, 2), rgb(151, 99, 1), rgb(82, 50, 4));
}


.leftdoor .door-handle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: gray;
    margin-top: 70px;
    margin-left: 80%;

}

.rightdoor .door-handle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: gray;
    margin-top: 70px;
    margin-left: 5%;

}






/**이미지 슬라이드*/
.slide-inner-wrap{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    perspective: 800px;
}

.left-side{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: 0;
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
    transform: rotateY(85deg) translateZ(-420px) translateX(410px);
    z-index: 6;
}

.left-side-slider{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: 0;
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateY(85deg) translateZ(-420px) translateX(410px);
    z-index: 6;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
}

.right-side{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: calc(6.05vw*7);
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
  transform: rotateY(-85deg) translateZ(350px) translateX(-400px);
    z-index: 6;
}

.right-side-slider{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: calc(6.05vw*7);
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateY(-85deg) translateZ(350px) translateX(-400px);
    z-index: 6;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
}

.slider-track-left{
    display: flex;
    width: calc(422.74px*4);
    animation: scrollLeft 0.97s linear;
    z-index: 10;
    
}

.slider-track-right{
    display: flex;
    width: calc(422.74px*4);
    animation: scrollRight 0.97s linear;
    z-index: 10;
    
}

.left-side-slider-again{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: 0;
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateY(85deg) translateZ(-420px) translateX(410px);
    z-index: 6;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
}

.right-side-slider-again{
    position: absolute;
    display: grid;
    width: 1691px;
    height: 390px;
    top: 27vh;
    left: calc(6.05vw*7);
    place-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateY(-85deg) translateZ(350px) translateX(-400px);
    z-index: 6;
    box-shadow:100px 0px 200px 1px rgba(245, 245, 228, 0.808);
}


.slider-track-left-again{
    display: flex;
    width: calc(422.74px*4);
    animation: scrollLeftAgain 0.97s linear;
    z-index: 10;
    
}

.slider-track-right-again{
    display: flex;
    width: calc(422.74px*4);
    animation: scrollRightAgain 0.97s linear;
    z-index: 10;
    
}



.slider-track-stop{
    display: flex;
    width: calc(422.74px*4);
    z-index: 10;
    
}

.homeContent-wrap img{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    object-fit: cover;
    z-index: 11;

}

.slide{
    width: 422.74px;
    height: 390px;
    align-items: center;
    padding: 0;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-105.685px*4));
    }
}


@keyframes scrollRight {
    0% {
        transform: translateX(0); 
    }

    100% {
        transform: translateX(calc(105.685px*4));
    }
}

@keyframes scrollLeftAgain {
    0% {
        transform: translateX(calc(-105.685px*4));
    }

    100% {
        transform: translateX(calc(-105.685px*8));
    }
}


@keyframes scrollRightAgain {
    0% {
        transform: translateX(calc(105.685px*4)); 
    }

    100% {
        transform: translateX(calc(105.685px*8));
    }
}



/**다이어리*/

@keyframes showDiary {
    0% {
       left: 100%;
       opacity: 0;
    }

    100% {
        left: 65%;
        opacity: 1;
    }
}

.diaryContent-wrap{
    position: absolute;
    left: 65%;
    width: 30vw;
    height: 100vh;
    z-index: 16;
    animation: showDiary 1.7s ease-in-out;
}

.diary-wrap{
   position: absolute;
    width: 240px;
    height: 350px;
    right: 12vw;
    bottom: 50%;
    transform-style: preserve-3d;
   transform: translate(0,50%);
    box-shadow: 20px 20px 20px #00000091;
    transition: .5s ease-in-out;
    z-index: 20;
}


.diary-wrap:hover {
    box-shadow: 50px 50px 15px #00000060;
    width: 260px;
    height: 370px;
    margin-bottom: 5%;
    cursor: pointer;
}

.diary-wrap .diarytext{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom:35%;
    left: 25%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transform: translateZ(150px);
    animation: showinnerText 1.2s;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.658);
}

.diary-wrap .inner-text{
display: none;
}

.diary-wrap .diary {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #ffffffa9;

}

.diary-wrap .diary.front {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 20;
    justify-content: center;
    align-items: baseline;
    transform-origin: 0px 0px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 1.2s ease-in-out;
    background-color: #864d0a;

}

.diary-wrap .diary.front strong{
    color: #ffffffd2;
    margin-top: 20px;
    font-size: 45px;
    transition: .5s .1s;
    text-shadow: -1px 0px 2px black, 0px 1px 2px black, 1px 0px 2px black, 0px -1px 2px black;
}

.diary-wrap:hover .diary.front strong{
    font-size: 50px;
}

.diary-wrap .front.back{

    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    background-color: #fff;
    width: 10%;
    opacity: 0;
    
}

.diary-wrap .diary.bottom{
    position: absolute;
    height: 10px;
    bottom: -5px;
    background-color: #7e7c7a;
    transform: rotateX(90deg) translateY(-5px);
}

.diary-wrap .diary-content{
    overflow: hidden;
    padding: 20px;
    border-left: 1px solid #888686;
    box-sizing: border-box;
}

.diary-wrap .diary.front img{
    display: none;
}

.opendiary-wrap{
    position: absolute;
    width: 260px;
    height: 370px;
    bottom: 50%;
    right: 12vw;
    transform-style: preserve-3d;
   transform: translate(0,50%); 
   box-shadow: 20px 0px 20px  #00000091;
    background-color: #fff;
    z-index: 20;
    perspective: 500px;
    cursor: pointer;
    
}

.opendiary-wrap strong{
    position:inherit;
    opacity: 0.4;
    font-size: 10px;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.opendiary-wrap .opendiary{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    justify-content: center;
    transition: 1s ease-in-out;
    transform: rotateY(-180deg);
    transform-origin: left;
    background-color: #fff;
    transform-style: preserve-3d;
    
}

.opendiary-wrap .front.back{
    
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    width: 100%;
    background-color: #fff;
    transition: 1.5s ease-in-out;
    box-shadow: -260px 0px 20px #383838;
    opacity: 1;
    transform: translateZ(-10px);
    border-right: 1px solid black;
 
}

.opendiary-wrap .front{
    border-left: 0.5px solid rgba(0, 0, 0, 0.178);

}

.opendiary-wrap .opendiary.front img{
    position: absolute;
    left: 20px;
    width: 220px;
    height: 200px;
    margin-top: 30%;
    animation: showinnerText 4.2s;
}

.opendiary-wrap .diarytext{
    position: absolute;
    width: 50%;
    height: 40px;
    left: 25%;
    bottom:45%;
    font-size: 30px;
    font-weight: 500;
    transform: translateZ(150px);
    transition: 3.5s;
    text-shadow: 10px 10px 10px black;
}

.opendiary-wrap .opendiary.front strong{
    opacity: 0;
    transition: 0.9s;
}

.hiddenDiaryContent-wrap{
    position: absolute;
    left: 65%;
    width: 30vw;
    height: 100vh;
    z-index: 16;
    display: none;
    opacity: 0;
    animation: hiddenBook 2s;
}
.hiddenDiaryContent-wrap .diary-wrap{
    position: absolute;
    width: 260px;
    height: 370px;
    bottom: 50%;
    right: 12vw;
    transform-style: preserve-3d;
   transform: translate(0,50%); 
   box-shadow: 20px 0px 20px  #00000091;
    background-color: #fff;
    z-index: 20;
    perspective: 500px;
    
    
}
.hiddenDiaryContent-wrap .diary-wrap .diarytext{
    display: none;
}

.hiddenDiaryContent-wrap .diary-wrap .inner-text{

    display: inherit !important;
    opacity: 0.4;
    font-size: 10px;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 10;  
}

.hiddenDiaryContent-wrap .diary-wrap .diary{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    justify-content: center;
    transform: rotateY(0deg);
    transform-origin: left;
}


.hiddenDiaryContent-wrap .diary-wrap .diary.front {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 20;
    justify-content: center;
    align-items: baseline;
    transform-origin: 0px 0px;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    background-color: #864d0a;

}

.hiddenDiaryContent-wrap .diary-wrap .front.back{
    width: 10%;
    transition: 0s !important;
}

.hiddenDiaryContent-wrap .diary-wrap .diary.bottom{
   display: none;
}

.hiddenDiaryContent-wrap .diary-wrap .diary.front img{
    display: none;
}

.hiddenDiaryContent-wrap .diary-wrap .diary.front strong{
   opacity: 1;
    color: #ffffffd2;
    margin-top: 20px;
    font-size: 45px;
    transition: 2.2s;
    text-shadow: -1px 0px 2px black, 0px 1px 2px black, 1px 0px 2px black, 0px -1px 2px black;
}

@keyframes hiddenBook {
    0% {
        opacity: 1;
        display: flex;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes showinnerText {
    0% {
        
        opacity: 0;
     }
 
     100% {
        
         opacity: 1;
     }
}
